{% extends '::admin-layout.html.twig' %}
{% block title 'Blanquear contraseña' %}
{% block body %}
    <h1>Blanquear contraseña</h1>
    <hr>
    <a href="{{ path('admin_usuarios_listado') }}" class="btn btn-primary">Cancelar y volver</a>
    <hr>
    <div class="jumbotron">
        <h1>¡Atención!</h1>
        <p>Está a punto de resetear la contraseña de este usuario:</p>
        <p>{{ usuario }}</p>
        <p>Si continúa, se generará una contraseña aleatoria y la misma será enviada a la dirección de correo del usuario:</p>
        <p>{{ usuario.email }}</p>
        <p>Para continuar, haga click en el siguiente botón:</p>
        {{ form(formulario) }}
    </div>
{% endblock %}