{% extends '::admin-layout.html.twig' %}
{% block title 'Nuevo usuario' %}
{% block body %}
    <h1>Nuevo usuario</h1>
    <hr>
    <a href="{{ path('admin_usuarios_listado') }}" class="btn btn-primary">Cancelar y volver</a>
    <hr>
    {{ form(formulario) }}
{% endblock %}