body {
  padding-top: 50px;
}
.starter-template {

  text-align: left;
}


input{
 font: 300 "Open Sans", Arial, sans-serif;
 margin: 0px 0px 5px 0px;
}

.col-md-3, .col-md-4, .col-md-6, .col-sm-9, .col-sm-3, .col-sm-4, .col-sm-6, .col-sm-9   {
	padding-left: 15px;
    padding-right: 20px;
}

.formGroup
{
    height:40px;
}

.headerModalWindow {
    background-color: #006633 !important;
    width: auto !important;
}

.contentModalWindow {
    width: auto !important;
    overflow: hidden !important;
}

.jqx-resize {
    width: auto !important;    
}