<div style="background-color:#005f63;border-bottom:5px solid #FFFFFF; min-height:40px;padding:10px 15px">
    <span style="margin: 12px;margin-bottom: 8px;"><img src="turnos.brown.gob.ar/extras/logob.png"></span>
</div>


<div style="padding:10px 15px">

    {% block body %}{% endblock %}

</div>


<div style="padding:10px;text-align:center;border-top:1px solid #eee;background:#fafafa">

    <a href="http://portal.brown.gob.ar" target="_blank">Municipalidad de Almirante Brown</a>

</div>

</div>


