{% extends '::email.html.twig' %}
{% block body %}
    <h2>Nueva contraseña</h2>
    <p>Hola {{ usuario.nombre }} {{ usuario.apellido }}</p>
    <p>Tu nueva contraseña es:</p>
    <div style="font-size: 22px; padding: 15px; border: 1px solid rgba(71, 128, 87, 0.82); margin: 20px; text-align: center;">{{ rawPassword }}</div>
{% endblock %}