{# este email se manda cuando el usuario ingresa su email para recuperar su contraseña #}
{% extends '::layout.html.twig' %}
{% block title 'Recuperar contraseña' %}
{% block body %}
    <h1>Recuperar Contraseña</h1>
    <hr>
    <p>Para recuperar su contraseña, ingrese su dirección de correo electrónico:</p>
    {{ form(formulario) }}
{% endblock %}