{# Formulario que el usuario sólo ingresa el dni antes de registrarse #}
{% extends '::layout.html.twig' %}
{% block title 'Registro' %}
{% block body %}
    <h1>Registro</h1>
    <hr>
    {{ form(formulario) }}
{% endblock %}