{# este email se envia a los usuarios luego de que confirman su cuenta de email #}
{% extends '::email.html.twig' %}
{% block body %}
    <h1>Cuenta confirmada</h1>
    <p>Su cuenta fue confirmada correctamente</p>
{% endblock %}