{# este email se manda cuando el usuario hizo click en el enlace del mail anterior y ya se resete칩 su contrase침a #}
{% extends '::email.html.twig' %}
{% block body %}
    <h2>Nueva contrase침a</h2>
    <p>Su nueva contrase침a es: <b>{{ newPassword }}</b></p>
{% endblock %}