{# este email llega cuando el usuario solicita renovar su contrase単a #}
{% extends '::email.html.twig' %}
{% block body %}
    <h2>Solicitud de contrase単a</h2>
    <p>Ha solicitado una nueva contrase単a</p>
    <p>Para generar una nueva contrase単a, haga click en el siguiente enlace:</p>
    <p><a href="{{ enlace }}">{{ enlace }}</a></p>
{% endblock %}