body {
    background-color: #eee;
}
.form-signin {
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(http://commondatastorage.googleapis.com/static.panoramio.com/photos/original/55174901.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

html,body {
    height: 100%;
}
.usuario-login-box {
    max-width: 500px;
    margin: 30px auto 0;
    border-radius: 6px;
}
h2.form-signin-heading {
    margin-top: 0;
    text-align: center;
}