{% extends '::layout.html.twig' %}
{% block title 'Mis Servicios' %}
{% block body %}
    <h1>Mis Servicios</h1>
    <hr>
    {% if servicios|length > 0 %}
    <table class="table table-hover table-striped">
        <head>
            <tr>
                <th>Servicio</th>
                <th>&nbsp;</th>
            </tr>
        </head>
        <tbody>
        {% for servicio in servicios %}
            <tr>
                <td>{{ servicio.nombre }}</td>
                <td><a target="_blank" class="btn btn-success" href="{{ servicio.url }}">Abrir</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-info">Usted no tiene servicios disponibles</div>
    {% endif %}
{% endblock %}